@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    font-family: 'NanumSquare', sans-serif;
}

#main_page {
    width: 600px;
}

.container {
    font-family: 'NanumSquare', sans-serif;
    padding-top: 50px;
}

.write-post {
    width: 600px;
    margin-bottom: 100px;
}

#title {
    margin-bottom: 10px;
}

#content {
    margin-bottom: 10px;
}

#write {
    margin-bottom: 30px;
    width: 135px;
    height: 50px;
}

.post-preview {
    width: 900px;
}

.btn.btn-secondary.modify {
    margin-left: 15px;
    margin-right: 15px;
}

/* 네비게이션 바 */
.navbar {

}
