<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-light bg-light">
    <div class="row">
        <div class="col-xl-4 offset-xl-4">
            <span class="navbar-brand mb-2 h1">Navbar</span>
        </div>
    </div>
</nav>

<!-- Main Content -->
<div class="container" id="main_page">
<center>
    <div class="write-post">
        <div class="write-title text-left">
            <h2>방명록 작성하기</h2>
            <input class="form-control" type="text" name="title" id="title" placeholder="제목을 입력하세요.">
        </div>
        <div class="write-content">
            <textarea class="form-control" rows="5" name="content" id="content" placeholder="내용을 입력하세요."></textarea>
        </div>
        <input type="button" class="btn btn-secondary btn-sm float-right" id="write" value="작성하기">
    </div>
</center>



                <div id="list">
                    <div th:id="'list_'+${post.id}" class="post-preview" th:each="post : ${posts}">
                        <h4 class="post-title" th:text="'제목 : ' +${post.title}"></h4>
                        <h6 th:text="'내용 : ' + ${post.content}"></h6>
                        <p class="post-meta">Posted by <a href="#">Guest</a> <strong th:text="${post.regDate}"> </strong> </p>
                        <div class="row">
                            <div class="col-xs-1">
                                <form method="get" th:action="'http://localhost:8080/post/'+ ${post.id}">
                                    <button class="btn btn-secondary modify" th:id="'modify'+${post.id}" th:value="${post.id}" onclick="modify_click(this.value)">수정</button>
                                </form>
                            </div>
                            <div class="col-xs-1">
                                <button class="btn btn-secondary" th:id="'delete'+${post.id}" th:value="${post.id}" onclick="delete_click(this.value)">삭제</button>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div id="test"></div>
        </div>
</div>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" language="javascript">

    $("#write").click(function(){

        var data = {};
        data["title"]=$('#title').val();
        data["content"]=$('#content').val();


        $.ajax({
            url : "http://localhost:8080/post",
            contentType : 'application/json',
            data : JSON.stringify(data),
            type : "POST",
            dataType : "json",
            success : function(data) {
                // $("list").append(data);
                $("#list").load(document.URL + ' #list');

            },
            error : function name(){
                $("#test").append("error");
            }
        });

        $("#title").val("");
        $("#content").val("");

    });

    function delete_click(clicked_id) {

        var id = "#list_" + clicked_id;

        $.ajax({
            url : "http://localhost:8080/post/" + clicked_id,
            type : "DELETE",
            success : function(data) {
                $(id).html("");
            },
            error : function name(){
                $("#test").append("error");
            }
        });

    }


</script>
</body>
</html>

